#kundana{
    display: flex;
    background-color: aqua;
}
#First{
    display: flex;
    background-color: brown;
}
#Second{
    display: flex;
    background-color: aquamarine;
}
#Third{
    display: flex;
    background-color: chartreuse;
}