
#kundana{
    display: center;
    background-color: rgb(255, 162, 0);
}
#pep{
    display: center;
    background-color: rgb(52, 165, 42);
}
#hello{
    display: center;
    background-color: rgb(187, 127, 255);
}
#hii{
    display: center;
    background-color: chartreuse;
}
